.btn {
    padding: 10px 15px;
    font-weight: 600;  
    background-color: #0199d5;
    color: #fff;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.form-control {
    padding: 8px 15px;
    margin: 10px;
    display: block;
}

.form-title {
    padding: 10px 15px 0 15px;
}

.error {
    padding: 10px 15px 0 15px;
    color: red;
}